

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}



h2 {
    background-color: blue;
   
}

 
div1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 20px;
  background-color: none;
  padding: 1px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 7%;
  margin-bottom: 10%;
  color:whitesmoke;
  
  
  }






        
